# {{ ansible_managed }}

global
{% include 'inc/00-global.cfg.j2' %}

defaults
{% include 'inc/01-defaults.cfg.j2' %}

{% include 'inc/02-userlist.cfg.j2' %}

{% include 'inc/03-resolvers.cfg.j2' %}

{% include 'inc/04-listen.cfg.j2' %}

{% include 'inc/05-frontend.cfg.j2' %}

{% include 'inc/06-backend.cfg.j2' %}
